

:root{
--soft-red: hsl(10, 79%, 65%);
--cyan: hsl(186, 34%, 60%);

--dark-brown: hsl(25, 47%, 15%);
--medium-brown: hsl(28, 10%, 53%);
--cream: hsl(27, 66%, 92%);
--pale-orange: hsl(33, 100%, 98%);


--main-font-size: 18px;
}

body{
    background-color: var(--pale-orange);
    font-family: "DM Sans", sans-serif;
}

.card{ 
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-balance{
    width: 80vw;
    max-width: 375px;
    height: 5vh;
    margin-top:1rem;
    margin-bottom:1rem;
    padding: 1.5rem;
    color: white;
    background-color: var(--soft-red);
    font-size: 16px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    position: relative;
}
.balance-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.total-balance-title{
    margin:0;
    padding: 0;
    font-weight: 400;
    opacity: 0.8;;
}
.total-balance-value{
    padding: 0;
    margin:0.8rem 0 0 0;
    font-size: 28px;
    font-weight: 700;
}
.circles{
    position: relative;
    display: flex;
    justify-content: center;
}
.white-circle{
    margin: 0;
    padding: 0;
    background-color: none;
    border: solid white 3px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    position: relative;
    left:1.5rem;
}

.black-circle{
    margin: 0;
    padding: 0;
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}



.main-chart{
    margin: 0 auto;
    margin-top: 1vh; 
    width: 80vw;
    max-width: 375px;
    padding: 1.5rem;
    /* height: 40vh; */
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-title{
    font-size: 26px;
    font-weight: 700;
    align-self: flex-start;
}

.chart-list{
    margin:0;
    padding: 0;
    list-style-type: none;
    width: 375px;
    max-width: 80vw;
    height: 20vh;
    max-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.days-list{
    margin:0;
    padding: 0;
    list-style-type: none;
    width: 375px;
    max-width: 80vw;
    display: flex;
    justify-content: space-evenly;  
    
}

hr{
    margin: 2.5rem 0 1.5rem 0;
    padding: 0;
    width: 85vw;
    max-width: 370px;

}


.card-footer{
    width: 85vw;
    max-width: 375px;
    display: flex;
    justify-content: space-between;
}

#month-total h2{
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    font-size: 32px;
}
#month-total span{
    opacity:0.7;
}

#percent-section{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}
#percent-section span{
    margin: 0;
    padding: 0;
    font-weight: 700;
}
#percent-section div{
    opacity:0.7;
}

.card-footer section:first-child{
    align-items: flex-start;
}
.card-footer section:last-child{
    align-items: flex-end;
}


.attribution { 
    font-size: 12px;
    margin-top: 0.5rem;
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }